/* - Modificamos estilos por defecto - */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* - Generales - */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #fff;
    color: #333;
}

/* - Header - */
.header {
    background: linear-gradient(to right,  #660000, #4b4847);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
    color: #fff;
    flex-wrap: wrap;
}

/* Header -> logo */
.logo img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    transition: transform 0.3s ease;
}

.logo img:hover {
    transform: scale(1.1);
}

/* Header -> title */
.title {
    flex-grow: 1; /* Crecerá en proporción de 1 */
}

.title h1 {
    font-size: 36px;
    font-weight: 700;
    margin-left: 20px;
    color: #f4f4f4;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

/* Barra separadora (responsive) */
.title::after {
    content: "";
    display: none !important;
    height: 2px;
    background-color: #f4f4f4;
    display: block;
    margin: 10px 0;
}

/* Header -> nav */
.nav {
    display: flex;
}

.nav a {
    color: #f4f4f4;
    font-size: 18px;
    font-weight: 500;
    margin-left: 15px;
    text-decoration: none;
    padding: 25px 30px;
    background-color: #69923e;
    border-radius: 30px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

.nav a:hover {
    transform: scale(1.05);
    text-decoration: underline;
    background-color: #769656;
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.nav a:focus {
    outline: none;
    box-shadow: 0 0 0 4px rgba(103, 150, 87, 0.5);
}

/* - Hero Image - */
.hero-image {
    width: 100%;
    height: 400px;
    overflow: hidden;
    position: relative;
}

.hero-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

/* - Sección de Próximo Torneo y Novedades - */
.tournament-and-news {
    display: flex;
    justify-content: space-between;
    padding: 30px;
    background-color: #333;
    margin: 20px 0;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    flex-wrap: wrap;
    gap: 20px;
    width: 100%;
    margin: 0;
}

/* Próximo Torneo */
.next-tournament {
    flex: 1;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    width: 800px;
    height: 800px;
}

.tournament-link {
    display: block;
    position: relative;
    text-decoration: none;
    width: 800px;
    height: 800px;
}

.tournament-image {
    width: 800px;
    height: auto;
    min-width: 300px;
    min-height: 300px;
    max-width: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.tournament-link img {
    width: 800px;
    height: 800px;
    object-fit: cover;
    object-position: center;
}

.tournament-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 800px;
    height: 800px;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.3s;
    border-radius: 10px;
}

.tournament-link:hover .tournament-overlay {
    opacity: 1;
}

.tournament-overlay h2, .tournament-overlay p {
    margin: 5px 0;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
}

/* Novedades */
.news {
    flex: 1;
    border-radius: 10px;
    overflow: hidden;
}

.articles {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.article {
    width: 800px;
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    text-decoration: none;
    color: #fff;
}

.article-image {
    width: 800px;
    height: auto;
    min-width: 300px;
    min-height: 300px;
    max-width: 100%;
    object-fit: cover;
    border-radius: 8px;
}

.article img {
    width: 800px;
    height: 250px;
    object-fit: cover;
    object-position: center;
}

.article-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 800px;
    height: 250px;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.3s;
    border-radius: 8px;
}

.article:hover .article-overlay {
    opacity: 1;
}

.article-overlay p {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}

/* - Footer - */
.footer {
    background: linear-gradient(to right, #660000, #4b4847);
    color: #fff;
    text-align: center;
    padding: 20px 0;
    box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.1);
    font-size: 16px;
    letter-spacing: 1px;
}

.footer a {
    color: #f4f4f4;
    text-decoration: underline;
    font-weight: 500;
    margin: 0 10px;
    transition: all 0.3s ease;
}

.footer a:hover {
    color: #69923e;
    text-decoration: underline;
}

.footer-nombre {
    color: yellow;
    font-weight: bold;
}